<% content_for :javascripts do %>
  <%= javascript_include_tag 'todo_lists/index.js' %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'todo_lists/index' %>
<% end %>

<div class='container'>
  <h1> HELLO FISHIE, here are your Todo Lists: </h1>

  <div>
    <%= link_to "+", new_todo_list_path(@todo_list), :class => "btn-floating btn-large waves-effect waves-light red, material-icons" %>
    <h3 class="inline-block"> Create New Todo List </h3>
  </div>

  <div id='todo-list-toggle'><button> Toggle Todo Lists</button></div>

  <ul id='todo-list-container'>
  	<% @todo_lists.each do |todo_list| %>
      <li><%= link_to todo_list.title, (todo_list) %></li>
      <li><%= todo_list.description %></li>
  	<% end %>
  </ul>
</div>
