<% content_for :javascripts do %>
  <%= javascript_include_tag 'todo_lists/index.js' %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'todo_lists/index' %>
<% end %>

<div class='container'>
  <h1 class='h1-title'> HELLO FISHIE, here are your Todo Lists: </h1>

  <div>
    <a href="<%= new_todo_list_path(@todo_list) %>">
      <i class='medium material-icons purple-text text-darken-2'>add_circle_outline</i></a>

    <h3 class="inline-block purple-text text-darken-2"> Create New Todo List </h3>
  </div>

  <div id='todo-list-toggle'>
    <button id='todo-list-toggle-button' class='purple darken-2 light-green-text text-accent-2'> Toggle Todo Lists</button>
  </div>

  <ul id='todo-list-container'>
  	<% @todo_lists.each do |todo_list| %>
      <%- display_title = todo_list.title.blank? ? 'No Title' : todo_list.title %>
      <li>
        <div><%= link_to display_title, (todo_list) %></div>
        <div><%= todo_list.description %></div>
      </li>
  	<% end %>
  </ul>
</div>
