<% content_for :javascripts do %>
  <%= javascript_include_tag 'todo_lists/index.js' %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'todo_lists/show' %>
<% end %>

<%= link_to 'Home', todo_lists_path(@todo_list) %>

<div class='row'>
  <div class='col s12'><h1 class='h1-title'>Title: <%= @todo_list.title %></h1></div>
  <div class='col s12'><h1 class='h1-title'>Description: <%= @todo_list.description %></h1></div>
<div/>

<div class='row'>
  <div class='col s12 m6'>
    <form id='todo-list-item-form'>
      <label for='todo-list-item-title'>Title</label>
      <input 
        form='todo-list-item-form' 
        type='text' 
        name='title' 
        id='todo-list-item-title' 
        placeholder='Enter a Title'
      >
      <label for='todo-list-item-description'>Description</label>
      <input 
        form='todo-list-item-form' 
        type='text' 
        name='description' 
        id='todo-list-item-description' 
        placeholder='Enter a Description'
      >
      <label for='todo-list-item-priority'>Priority</label>
      <select 
        form='todo-list-item-form' 
        id='todo-list-item-priority' 
        style='display: inline-block;'
      >
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
      </select>

      <button type='submit' form='todo-list-item-form'>Submit</button>

    </form>  
  </div>
</div>

<div class='row'>
  <div class='col s12'>
	<%= link_to 'Create New List Item', new_todo_list_todo_list_item_path(@todo_list) %>
  </div>
</div>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %>
<%= link_to('Delete', todo_list_path(@todo_list), {method: :delete, id:'delete-todo-list'}) %> 

<ul>
  <% @todo_list_items.each do |list_item| %>
  <h4 style="text-decoration: underline">
  	<%= "Name: #{list_item.name}" %> </h4>
  <li><%= list_item.description %></li>
  <li>Priority: <%= list_item.priority %></li>
  <li><%= list_item.completed %></li>
  <%= link_to 'Delete', todo_list_todo_list_item_path(@todo_list, list_item), method: :delete %>
  <%= link_to 'Edit', edit_todo_list_todo_list_item_path(@todo_list, list_item) %>
  <% end %>
</ul>
