<% content_for :javascripts do %>
  <%= javascript_include_tag 'todo_lists/index.js' %>
<% end %>

<% if flash[:notice] %>
    <div class="flash"><%= flash[:notice] %></div>
<% end %>

<%= link_to 'Home', todo_lists_path(@todo_list) %>

<h1><%= @todo_list.title %></h1>
<h1><%= @todo_list.description %></h1>

<div>
	<%= link_to "Create New List Item", new_todo_list_todo_list_item_path(@todo_list) %>
</div>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %>
<%= link_to('Delete', todo_list_path(@todo_list), {method: :delete, id:'delete-todo-list'}) %> 

<ul>
  <% @todo_list_items.each do |list_item| %>
  <h4 style="text-decoration: underline">
  	<%= "Name: #{list_item.name}" %> </h4>
  <li><%= list_item.description %></li>
  <li>Priority: <%= list_item.priority %></li>
  <li><%= list_item.completed %></li> 
  <%= link_to 'Delete', todo_list_todo_list_item_path(@todo_list, list_item), method: :delete %> 
  <%= link_to 'Edit', edit_todo_list_todo_list_item_path(@todo_list, list_item) %>
  <% end %>
</ul>




