<!DOCTYPE html>
<html>
  <head>
    <title>TodoTwo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <%= yield :stylesheets %>
  </head>

  <body>

    <% if flash[:notice] %>
        <div class="flash"><%= flash[:notice] %></div>
    <% end %>

    <div class='row navbar z-depth-3'>
      <div class='container'>
        <!-- left section -->
          <!-- icon -->
          <!-- title -->
        <div class='col s6'>
          <%= image_tag 'assignment-icon.svg', class: 'nav-icon' %>
          <h1 class='nav-header'>TodoTwo</h1>
        </div>
        <!-- right section -->
          <!-- link1 -->
          <!-- link2 ... -->
      </div>
    </div>

    <%= yield :header %>
    <div class='container'>
      <%= yield %>
    </div>
    <%= yield :footer %>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <%= yield :javascripts %>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </body>
</html>
